Source: libpath-tiny-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl (>= 5.10.0), libtest-simple-perl (>= 0.96)
Maintainer: Nathaniel Nutter <nnutter@genome.wustl.edu>
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/Path-Tiny/

Package: libpath-tiny-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, perl (>= 5.10.0)
Description: File path utility
 Path::Tiny attempts to provide a small, fast utility for working with file
 paths. It is friendlier to use than File::Spec and provides easy access to
 functions from several other core file handling modules.
 .
 It doesn't attempt to be as full-featured as IO::All or Path::Class, nor does
 it try to work for anything except Unix-like and Win32 platforms. Even then,
 it might break if you try something particularly obscure or tortuous. (Quick!
 What does this mean: ///../../..//./././a//b/.././c/././? And how does it
 differ on Win32?)
 .
 All paths are forced to have Unix-style forward slashes. Stringifying the
 object gives you back the path (after some clean up).
 .
 File input/output methods flock handles before reading or writing, as
 appropriate (if supported by the platform).
 .
 This description was automagically extracted from the module by dh-make-perl.
